<%- include("../partials/admin/header.ejs")%>
<div id="page-wrapper">
   <div class="header">
      <h1 class="page-header">Product Management</h1>
      <ol class="breadcrumb">
         <li><a href="/admin/">Products</a></li>
         <li class="active">Product Management</li>
      </ol>
   </div>
   <div id="page-inner">
      <div class="row">
         <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="card">
               <div class="card-action">Products List</div>
               <div class="card-content">
                  <div class="table-responsive">
                     <div class="row">
                        <div class="col-sm-6">
                           <div id="dataTables-example_filter" class="dataTables_filter">
                              <form action="" method="get">
                                 <label for="s">Search:      </label><input
                                    type="search"
                                    class="form-control input-sm"
                                    aria-controls="dataTables-example"
                                    name="search"
                                    id="search"
                                    value="<%=searchQuery%>"
                                    />
                                 <input type="submit" value="Search">
                              </form>
                           </div>
                        </div>
                     </div>
                     <table
                        class="table table-striped table-bordered table-hover"
                        id="dataTables-example"
                        >
                        <thead>
                           <tr>
                              <th>Name</th>
                              <th>Price</th>
                              <th>Edit</th>
                              <th>List/Unlist from store</th>
                              <th>Delete</th>
                           </tr>
                        </thead>
                        <tbody>
                            <% if (typeof data !== 'undefined') { %>
                                <% for (let i = 0; i < data.length; i++) { %>
                                    <tr class="odd gradeX">
                                        <td><%= data[i].productName %></td>
                                        <td><%= data[i].price %></td>
                                        <td class="">
                                          <button class="btn-alert"><a href="/admin/editProduct?id=<%=data[i]._id%>">Edit Product Details</a></button>
                                        </td>
                                        <td class="">
                                            
                                          <% if (data[i].isListed
                                           === true) { %>
                                              <button class="btn-danger">
                                                  <a style="text-decoration: none; color: rgb(255, 255, 255);" href="/admin/unlistProduct?id=<%= data[i]._id %>">Unlist Product</a>
                                              </button>
                                          <% } else { %>
                                              <button class="btn-primary">
                                                  <a style="text-decoration: none; color: rgb(255, 255, 255);" href="/admin/restoreProduct?id=<%= data[i]._id %>">Restore Product</a>
                                              </button>
                                          <% } %>
                                      </td>
                                      <td>
                                       <button class="btn-danger" onclick="deleteProduct('<%=data[i]._id%>')">DELETE</button>
                                      </td>
                                    </tr>
                                <% } %>
                            <% } %>
                         </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <!--End Advanced Tables -->
         </div>
      </div>
      <div class="col-sm-6">
         <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate">
            <ul class="pagination">
               <% if(typeof totalPages !== 'undefined' && totalPages > 0){ %>
                  <% for(let i = 1; i <= totalPages; i++){ %>
                     <li class="page-item paginate_button <%= (i === parseInt(currentPage)) ? 'active' : '' %>" aria-controls="dataTables-example" tabindex="0">
                        <a href="?page=<%= i %>&search=<%= searchQuery %>"><%= i %></a>
                     </li>
                  <% } %>
               <% } %>
            </ul>
         </div>
      </div>
      
      <script>
         function deleteProduct(id){
            const confirmation = confirm("Do you really want to delete this product ?")
            if(confirmation){
               window.location.href = "/admin/deleteProduct?id="+id
            }
         }
      </script>
      <%- include("../partials/admin/footer.ejs")%>
   </div>
</div>