<%- include("../partials/user/header.ejs")%>



    <!-- Feadtued Categories -->

    <div class="template-categories">
        <div class="template-small-container">
            <div class="template-row">
                <div class="template-col-3">
                    <img src="/gameImages/fifa.jpeg">
                </div>
                <div class="template-col-3">
                    <img src="/gameImages/gta6.png">
                </div>
                <div class="template-col-3">
                    <img src="/gameImages/starwars.jpeg">
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Products -->

    <div class="template-small-container">
        <h2 class="template-title">Featured Products</h2>
       
        <div class="template-row">
            <%for(let i=0;i<products.length;i++){%>
            <div class="template-col-4">
                <a href="/productDetails?id=<%=products[i]._id%>"><img src="<%=products[i].images[0]%>"></a>
                <h4><%=products[i].productName%></h4>
                <div class="rating">
                    <i class="template-fa template-fa-star"></i>
                    <i class="template-fa template-fa-star"></i>
                    <i class="template-fa template-fa-star"></i>
                    <i class="template-fa template-fa-star"></i>
                    <i class="template-fa template-fa-star-o"></i>
                </div>
                <p>₹<%=products[i].price%></p>
            </div>
            <%}%>
        </div>
        <h2 class="template-title">Latest Products</h2>
        <div class="template-row">
            <%for(let i=0;i<latestProducts.length;i++){%>
            <div class="template-col-4">
                <a href="/productDetails?id=<%=latestProducts[i]._id%>"><img src="<%=latestProducts[i].images[0]%>"></a>
                <h4><%=latestProducts[i].productName%></h4>
                <div class="rating">
                    <i class="template-fa template-fa-star"></i>
                    <i class="template-fa template-fa-star"></i>
                    <i class="template-fa template-fa-star"></i>
                    <i class="template-fa template-fa-star"></i>
                    <i class="template-fa template-fa-star-o"></i>
                </div>
                <p>₹<%=latestProducts[i].price%></p>
            </div>
            <%}%>
        </div>
    </div>

    <!-- Offer -->
    <div class="offer">
        <div class="template-small-container">
            <div class="template-row">
                <div class="template-col-2">
                    <img src="images/banner.jpg" class="offer-img">
                </div>
                <div class="template-col-2">
                    <p>Exclusively Available on RedStore</p>
                    <h1>Fifa FC 25</h1>
                    <small>Experience more ways to win for the club in EA SPORTS FC™ 25. Team up with friends in your favourite modes with the new 5v5 Rush and manage your club to victory as FC IQ delivers more tactical control than ever before.<br></small>
                    <a href="/productDetails?id=66e9090f2352f7820b34d991" class="template-btn">Buy Now &#8594;</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Testimonial -->
    <div class="testimonial">
        <div class="template-small-container">
            <div class="template-row">
                <div class="template-col-3">
                    <i class="template-fa template-fa-quote-left"></i>
                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        industry's standard dummy text.</p>
                    <div class="rating">
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                    </div>
                    <img src="images/user-1.png">
                    <h3>Sean Parker</h3>
                </div>
                <div class="template-col-3">
                    <i class="template-fa template-fa-quote-left"></i>
                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        industry's standard dummy text.</p>
                    <div class="rating">
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                    </div>
                    <img src="images/user-2.png">
                    <h3>Mike Smith</h3>
                </div>
                <div class="template-col-3">
                    <i class="template-fa template-fa-quote-left"></i>
                    <p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        industry's standard dummy text.</p>
                    <div class="rating">
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                        <i class="template-fa template-fa-star"></i>
                    </div>
                    <img src="images/user-3.png">
                    <h3>Mabel Joe</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- Brands -->

    <div class="brands">
        <div class="template-small-container">
            <div class="template-row">
                <div class="template-col-5">
                    <img src="images/logo-godrej.png">
                </div>
                <div class="template-col-5">
                    <img src="images/logo-oppo.png">
                </div>
                <div class="template-col-5">
                    <img src="images/logo-coca-cola.png">
                </div>
                <div class="template-col-5">
                    <img src="images/logo-paypal.png">
                </div>
                <div class="template-col-5">
                    <img src="images/logo-philips.png">
                </div>
            </div>
        </div>
    </div>

   

<%- include("../partials/user/footer.ejs")%>
	