<%- include("../partials/user/header.ejs")%>

<div class="template-small-container single-product">
    <div class="template-row">
        <div class="template-col-2">
            <img src="<%=product.images[0]%>" width="100%" id="ProductImg">

            <div class="small-img-row">
                <%for(let i=0;i<product.images.length;i++){%>
                <div class="small-img-col">
                    <img src="<%=product.images[i]%>" width="100%" class="small-img" >
                </div>
                <%}%>
            </div>

        </div>
        <div class="template-col-2">
            <p>Home / T-Shirt</p>
            <h1><%=product.productName%></h1>
            <h4>₹<%=product.price%></h4>
            <select id="variantSelect">
                <option>Select Variant</option>
                <% product.variant[0].platforms.forEach(function(platform) { %>
                <% if (platform !== null) { %>
                    <option id="platform" value="<%=platform%>"><%= platform %></option>
                <% } %>
                <% }); %>
            </select>
            <input type="number" value="1" id="quantity">
            <a href="#" id="addToCartBtn" class="template-btn">Add To Cart</a>
        
            <h3>Product Details <i class="template-fa template-fa-indent"></i></h3>
            <br>
            <p><%=product.description%></p>
        </div>
    </div>
</div>
<!-- title -->
<div class="template-small-container">
    <div class="template-row template-row-2">
        <h2>Related Products</h2>
        <p>View More</p>
    </div>
</div>
<!-- Products -->
<div class="template-small-container">
    <div class="template-row">
        <div class="template-col-4">
            <img src="images/product-9.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="template-rating">
                <i class="template-fa template-fa-star"></i>
                <i class="template-fa template-fa-star"></i>
                <i class="template-fa template-fa-star"></i>
                <i class="template-fa template-fa-star"></i>
                <i class="template-fa template-fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="template-col-4">
            <img src="images/product-10.jpg">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="template-fa template-fa-star"></i>
                <i class="template-fa template-fa-star"></i>
                <i class="template-fa template-fa-star"></i>
                <i class="template-fa template-fa-star"></i>
                <i class="template-fa template-fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const quantityInput = document.getElementById('quantity');
        const addToCartBtn = document.getElementById('addToCartBtn');
        const platformInput = document.getElementById('platform')
        const productId = '<%= product._id %>'; 

        function updateAddToCartLink() {
            const quantity = quantityInput.value;
            const platform = platformInput.value
            const baseUrl = '/addToCart';
            addToCartBtn.href = `${baseUrl}?id=${productId}&quantity=${quantity}&platform=${platform}`;
        }

        // Update link on quantity change
        quantityInput.addEventListener('input', updateAddToCartLink);

        // Initial update
        updateAddToCartLink();
    });
</script>

<%- include("../partials/user/footer.ejs")%>